@font-face {
  font-family: 'Montserrat';
  src: url(../assets/Montserrat-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/Montserrat-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

body {
  font-family: "Montserrat", sans-serif;
}