$clr-bkg-error: rgba($color: #B00020, $alpha: 0.15);
$clr-bkg-warning: rgba($color: #FB8C00, $alpha: 0.15);
$clr-bkg-success: rgba($color: #4CAF50, $alpha: 0.15);
$border-radius: 2px;
$clr-border: #aaa;
$clr-accent: teal;