.heading {
  font-weight: bold;
}

.textExpanded {
  padding-right: 1rem;
  margin-bottom: 1rem;
  font-size: 0.825rem;
}

.textCollapsed {
  composes: textExpanded;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}