.label {
  position: relative;
}

.input {
  padding: 0.25rem;
  width: 100%;
}

.inputWithAppend {
  composes: input;
  padding-right: 2rem;
}

.append {
  position: absolute;
  bottom: 0;
  right: 0;
}